@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: outfit;
}
@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
.category-tag-line {
  @apply w-3/4 m-auto text-xs sm:text-sm md:text-base text-gray-600;
}
.products-grid {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 gap-y-6;
}
